[settings]

use_file_shell_for_executable_tasks = true
windows_executable_extensions = [ "sh", "ps1", "py" ]
unix_default_file_shell_args = "env"
unix_default_inline_shell_args = "sh -c -o errexit"
windows_default_file_shell_args = "env.exe"
windows_default_inline_shell_args = "sh.exe -c -o errexit"

[tools]
go = "1.24"
golangci-lint = "latest"
"github:knaka/mdpp" = "latest"

[task_config]
includes = [
  "mise-tasks",
  "mise-sh.toml",
  "mise-sh/*.toml",
]

[tasks.gen]
description = "Generate stuff."
depends = [
  "task-sh:gen",
]

[tasks.go]
description = "Run Go."
run = "go"

[tasks.lint]
description = "Lint."
run = 'golangci-lint run'
