name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      # actions/checkout: Action for checking out a repo https://github.com/actions/checkout
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      # actions/setup-go: Set up your GitHub Actions workflow with a specific version of Go https://github.com/actions/setup-go
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true
      - uses: goreleaser/goreleaser-action@v6
        with:
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
