on: [push, pull_request]
name: test
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      # actions/setup-go: Set up your GitHub Actions workflow with a specific version of Go https://github.com/actions/setup-go
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true
      - name: Download Go modules
        run: go mod download
      - name: Run tests
        run: go test -v -shuffle on ./...
